.formular{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: aquamarine;
    left: 23%;
    top: 20%;
    border: 2px solid red;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}
form{
    width: 100%;
}
input{
    width: 40%;
    height: 35%;
    position: relative;
    left: 30%;
    border-radius: 7px;
}

.btn-login{
    position: relative;
    top: 12px;
    width: 13%;
    height: 8%;
    left: 14.3%;
    border-radius: 7px;
}
.createAccount{
    position: relative;
    top: -20px;
}
.btn-accountCreate{
    width: 93%;
    height: 38%;
    border-radius: 7px;
}
.errorMessage{
    color: red;
    display: none;
}